
ethernet/vivado/ethernet.cache/
ethernet/vivado/ethernet.sim/
ethernet/vivado/ethernet.runs/
ethernet/vivado/ethernet.hw/
ethernet/vivado/ethernet.gen/

blink_a_led/vivado/blink_a_led.cache/
blink_a_led/vivado/blink_a_led.runs/
blink_a_led/vivado/blink_a_led.hw/
blink_a_led/vivado/blink_a_led.gen/

memories/vivado/memories.cache/
memories/vivado/memories.runs/
memories/vivado/memories.hw/
memories/vivado/memories.gen/

data_transfers/vivado/data_transfers.cache/
data_transfers/vivado/data_transfers.runs/
data_transfers/vivado/data_transfers.hw/
data_transfers/vivado/data_transfers.gen/


hdmi/vivado/hdmi.cache/
hdmi/vivado/hdmi.runs/
hdmi/vivado/hdmi.hw/
hdmi/vivado/hdmi.gen/


peripherals/
